/*
  Author:			Joshua Henderson
  Project:			My Game
  Created:			2/1/22
  Last Modified:	2/1/22
*/

.main-window {
  margin: 10px;
  width: 95vw;
  height: 300px;
  border: solid 3px red;
}

.item-window {
  margin: 10px;
  width: 95vw;
  height: 300px;
  border: solid 3px green;
}

.stats-window {
  margin: 10px;
  width: 95vw;
  height: 300px;
  border: solid 3px blue;
}

/*
  Desktop Settings
*/
@media only screen and (min-width: 768px) {
  .main-window {
	width: 48vw;
  }
  .item-window {
	width: 48vw;
  }
  .stats-window {
	width: 48vw;
  }
}