/*
  Author:			Joshua Henderson
  Project:			My Game
  Created:			2/1/22
  Last Modified:	2/2/22
*/

/* Custom colors */
$snow-flurry: #e5fcc2;
$dead-99: #9de0ad;
$verdigris: #45ada8;
$ocean-current: #547980;
$don-juan: #594f4f;

$item-color: #f5d6b1;
$item-border: black;
$wrapper-color: #3e2723;
$wrapper-border: $snow-flurry;
$main-window-color: #fff8dc;
$button-color: $dead-99;
$button-border-color: $ocean-current;

* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
}

.wrapper {
  background-color: $wrapper-color;
  //border: solid 3px $wrapper-border;
  padding: 10px;
  border-radius: 8px;
  margin-top: 8px;
}
.main-window {
  width: 90vw;
  height: 300px;
  background-color: $main-window-color;
  //border: solid 2px white;
  box-shadow: inset 2px 2px 12px 1px #444;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.message {
  margin: 5px;
}

.item-window {
  width: 90vw;
  height: 300px;
  padding-top: 8px;
}

.stats-window {
  width: 90vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  font-size: 1.2em;
  color: #fff;
}

.stats-window span.left {
  justify-self: start;
  font-weight: bold;
  padding: 5px;
}
.stats-window span.right {
  justify-self: end;
  padding: 5px;
}

.option {
  border: none;
  padding: 20px;
  width: 12vw;
  font-size: 1.2em;
  border-radius: 5px;
}

#option-window {
  display: flex;
  justify-content: space-between;
  background-color: #444;
  padding: 15px;
}

.item {
  background-color: $item-color;
  //border: solid 3px $item-border;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 1px #111;
  padding: 3px 3px 3px 10px;
  margin: 0px 6px 12px 6px;
  button {
    padding: 8px;
    margin: 5px;
    box-shadow: 2px 2px 3px 0px #555;
    background-color: $button-color;
    pointer: cursor;
    border: none;
    border-radius: 5px;
    min-height: 40px;
    min-width: 40px;
    &:hover {
      opacity: 0.8;
    }
    &#useItem {
      background-color: #005c12;
    }
    &#deleteItem {
      background-color: #8a2424;
    }
    i {
      color: white;
    }
  }
}
.item-name {
  font-weight: bold;
}

.item-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-info {
  
}

.item button {
}

/*
  Desktop Settings
*/
@media only screen and (min-width: 768px) {
  
  .wrapper {
    display: flex;
    flex-direction: row;
	  justify-content: center;
  }
  
  .main-window {
    width: 68vw;
    height: 95vh;
  }
  .item-window {
    width: 20vw;
    height: 73vh;
  }
  .stats-window {
    height: auto;
    width: 20vw;
  }
}