/*
  Author:			Joshua Henderson
  Project:			My Game
  Created:			2/1/22
  Last Modified:	2/1/22
*/

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-window {
  width: 90vw;
  height: 300px;
  background-color: red;
}

.item-window {
  width: 90vw;
  height: 300px;
  background-color: green;
}

.stats-window {
  width: 90vw;
  height: 300px;
  background-color: blue;
  /*display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;*/
}

/*
  Desktop Settings
*/
@media only screen and (min-width: 768px) {
  body {
	display: flex;
  }
  .main-window {
	width: 48vw;
	height: 95vh;
	float: right;
  }
  .item-window {
	width: 48vw;
	height: 65vh;
	float: left;
  }
  .stats-window {
	height: 30vh;
	width: 48vw;
	float: left;
  }
}